@using Epoint.Framework.Contract
@using Epoint.Framework.Web.Controls
@using Epoint.Framework.Utility
@using Epoint.PingBiao.Contract
@using Epoint.Web
@model PingBiao_BiaoDuan
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
}
@section PageSpecificJavascriptIncludes{
<script type="text/javascript">
    $("#KaiBiaoDate").datepicker();
</script>

}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>标段编号：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.BiaoDuanNo, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.BiaoDuanNo)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>标段名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.BiaoDuanName, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.BiaoDuanName)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">建设单位：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.JianSheDanWei, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.JianSheDanWei)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>开标时间：</label>
                <div class="controls">
                    @Html.TextBox("KaiBiaoDate", Model.KaiBiaoDate.ToCnDataString(), new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.KaiBiaoDate)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">开标地点：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.KaiBiaoAddress, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.KaiBiaoAddress)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">允许解密时长：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.JiemiMiute,"60", new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.JiemiMiute)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">备注：</label>
                <div class="controls">
                    @Html.TextAreaFor(m => m.BeiZhu, new { @class = "m-wrap" })
                </div>
            </div>

        </div>
    </div>
}

